# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
.htaccess
.htaccessold
common/config/bootstrap.php~
frontend/web/js/angular/i18n/ngLocale/
nhai/web/js/angular-1.5.5/i18n/ngLocale/
tests/
tollbackend/web/js/angular-1.5.5/i18n/ngLocale/
